.account {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.account hr {
    width: 100%;
}

.events {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  

.accountDetails {
    display: flex;
    justify-content: space-between;
}

.accountDetails .editAccount {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.accountDetails .editAccount:hover {
    outline: 2px solid #fff;
    outline-offset: 2px;
}