.accountDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.accountDetails hr {
    width: 100%;
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px; /* Espaçamento entre as divs */
  }
  