.updateBttn {
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: 0.1s;
    padding: 2px 0;
    min-height: 25px;
}

.updateBttn:hover {
    outline-color: #fff;
    outline-offset: 1px;
    background-color: #fff;
}

.editarConta.boxPage .content {
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  
  .editarConta .inputBox  {
    max-width:600px;
  }

  .editarConta .inputBox input[type='text'],
  .editarConta .inputBox input[type='email']  {
    padding: 5px;
    border-radius: 5px;
    border: 0;
    outline: 0;
  }