.header {
    display: flex;
    justify-content: space-between;
}

.header .logo img{
    width: 100%;
    max-width: 160px;
    min-width: 100px;
    object-fit: cover;
    filter: drop-shadow(0px 0px 1px rgb(0, 255, 115));
    cursor: pointer;
}

.header .info {
    display: flex;
    align-items: center;
}

.header .info p {
    font-size: 13px;
}

.header .link {
    padding: 10px 20px;
    color: #fff;
    text-decoration-color: #fff;
    transition: 0.2s;
    font-size: 15px;
    margin: 1px;
}

.header .link:hover {
    background-color: #ffffff51;
}

.header .link.active {
    background-color: #ffffff51;
}

.header .links {
    display: flex;
}

.header .headerMenu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .sair {
    cursor: pointer;
    border: 2px solid #fff;
    padding: 5px 20px;
    border-radius: 20px;
    transition: 0.2s;
}

.header .sair:hover {
    background-color: #fff;
    color: rgb(0, 0, 105)

}